
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@700&family=Inter:wght@800&family=Merriweather&family=Montserrat:wght@100;300&family=Sacramento&display=swap');


body,html {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: "Figtree", "Merriweather", "Monserrat", "sans-serif";

}



.container {
    display: flex;
    height: 20vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    
}

#myLibrary {
    width: 100%;
    background-color: #277BC0;
    height: 100px;
    text-align: center;
    font-size: 2rem;
    color: white;
    display: flex;
    align-items: center;

}

h2 {
    margin: 2rem;

}

.text {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 20%;
    

}

#read-it {
    align-items: center;
}

input {
    border: 4px solid #E5E7EB;
    border-radius: 4px;
    padding: 5px;
    width: 80%;
    height: 1.2rem;
    outline: none;
}


#submit {
    background-color: #33C3F0;
    border-color: #33C3F0;
    color: white;
    font-size: 1.4rem;
    padding: 8px 1rem;
    border-radius: 15px;
}

#books {
    height: 500px;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;

}

.books {
    height: 250px;
    background-color: #9ED2C6;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    font-size: 20px;
}

.removeButton {
    background-color: #D61C4E;
    border-radius: 15px;
    padding: 5px 0;
    color: white;
    font-size: 1.2rem;
}

.readButton {
    border-radius: 15px;
    padding: 5px 0;
    color: #000000;
    font-size: 1.2rem;
    background-color: #E8F9FD;

}